h1{
    text-align: center;
    margin-top: 90px;
    color: orange;
    font-size:xx-large;
}
.photo1{
    margin: right 80px;
    width: 20px;
    height: 10px;
}
photo2{
    margin: left 100px; ;
}